body {
background-color: black;
  color: white;
  font-family: Monospace;
  font-size: 24px;
  text-align: center;
  margin: auto;
    margin-top: auto;
  margin-top: 5%;
}
 /* drop it down.. */
.waresbutt {
  background-color: white;
  border-block: none;
  border-inline: none;
  color: black;
  font-family: Monospace;
  font-size: 25px;
  
  cursor: pointer;
}

/* i said AE,,.,.. what's going on... */
.waresbutt:hover {
  background-color: #AEAEAE;
  border-inline-color: #AEAEAE;
  border-block-color: #AEAEAE;
  
}

/* position wares drop down */
.wares {
  text-align: center;
 font-size: 10px;
 display: inline-block;
}

/* wares links */
.wares-links {
  display: none;
  position: center;
  background-color: white;
  font-size: 20px;
  animation: awesome, 0.5s, cubic-bezier;
 
}

/* wares links link styling */
.wares-links a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* change color of wares links link on hover */
.wares-links a:hover {background-color: #ddd;}

/* drop it down pt. 2 */
.show {display:block;} 

/* ADD "AWESOME" ANIMATION HERE */
